<div class="app-container">
  @if (isLoading() === false) {
    <h1>Lista de Funcionários</h1>
    @if (employeeData().data) {
      <table
        mat-table
        matSort
        [dataSource]="dataSource()"
        (matSortChange)="sortData($event)"
        class="mat-elevation-z8 app-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header="id" *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell mat-sort-header="position" *matHeaderCellDef>
            Cargo
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.position === null ? 'GERENTE' : element.position }}
          </td>
        </ng-container>

        <ng-container matColumnDef="seniority">
          <th mat-header-cell mat-sort-header="seniority" *matHeaderCellDef>
            Nível
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.seniority === null ? '---' : element.seniority }}
          </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell mat-sort-header="department" *matHeaderCellDef>
            Departamento
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.department === null ? '---' : element.department }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <button
              (click)="editEmployee(element.id)"
              mat-icon-button
              aria-label="Botão para edição de funcionário">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button
              (click)="removeEmployee(element)"
              mat-icon-button
              aria-label="Botão para edição de funcionário">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    } @else {
      <h2>{{ employeeData()!.message }}</h2>
    }
  } @else {
    <div class="w-full h-[90dvh] flex items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
