<div class="app-container">
  @if (isLoading() === false) {
    <h1 class="app-title">Edição de Funcionário</h1>
    @if (employeeDataAPI()?.data) {
      @if (employee()?.typeEmployee === 'EMPLOYEE') {
        <app-form-employee
          type="update"
          typeEmployee="EMPLOYEE"
          [employeeForm]="employeeForm"
          (formValuesChange)="onSubmitValues()" />
      } @else {
        <app-form-employee
          type="update"
          typeEmployee="MANAGER"
          [employeeForm]="managerForm"
          (formValuesChange)="onSubmitValues()" />
      }
    } @else {
      <h2>{{ employeeDataAPI()?.message }}</h2>
    }
  } @else {
    <div class="w-full h-[90dvh] flex items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
